.game-list-background {
  background-image: url("../../../public/main-bg.jpg");
  background-position: center;
  background-size: cover;
  height: calc(100vh - 216px);
}

.card-game {
  padding-top: 3em;
  padding-bottom: 5em;
}
