.game-list-background {
  background-image: url("../../../public/main-bg.jpg");
  background-position: center;
  background-size: cover;
}

@media (min-width: 720px) {
  .game-list-background {
    height: calc(100vh - 216px);
  }
}

.card-game {
  padding-top: 3em;
  padding-bottom: 5em;
}
